.footer__columns {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin:auto;
  position: relative;
  top: 60px;
  bottom: 40px;
  min-height: 250px;
}
