.feynman {
  padding: 100px 0 0 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  position: relative;
  background-image: url(../../images/feinman.png);
  background-size: 867px 637px;
  background-repeat: no-repeat;
  background-position: left bottom;
  min-height: 890px;
  display: block;
}
