@font-face {
  font-family: 'Inter-Bold';
  src: url(../../fonts/InterBold.woff) format('woff');
  src: url(../../fonts/Inter-Bold.woff2) format('woff2');
  src: url(../../fonts/Inter-Bold.ttf) format('truetype');
  src: url(../../fonts/Inter-Bold.eot) format('eot');
}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../../fonts/InterSemiBold.woff) format('woff');
  src: url(../../fonts/Inter-SemiBold.woff2) format('woff2');
  src: url(../../fonts/Inter-SemiBold.ttf) format('truetype');
  src: url(../../fonts/Inter-SemiBold.eot) format('eot');
}
@font-face {
  font-family: 'Inter-Regular';
  src: url(../../fonts/InterRegular.woff) format('woff');
  src: url(../../fonts/Inter-Regular.woff2) format('woff2');
  src: url(../../fonts/Inter-Regular.ttf) format('truetype');
  src: url(../../fonts/Inter-Regular.eot) format('eot');
}
