.khan__buy-link {
  display: inline-block;
  margin: 0 0 0 48px;
  color: #2f80ed;
  opacity: 1;
  text-decoration: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: 0.65;
  transition: linear 0.2s;
}
